#maindiv{
    margin-top: 50px;
    justify-content: center;
}
#form{
    max-width: fit-content;
    margin: 10px auto;
    border-radius: 15px;
    background-color: #001d3d;
}
#sign-up{
    width: 100%;
    padding: 5px;
    background-color: #219ebc;
    border-radius: 30px;
    color: white;
}
input{
    background-color: #e0e2e4;
}
input:hover{
    background-color: #fff;
    transform: scale(1.05);
}
#submit{
    background-color: #219ebc;
    color: #fff;
}
#submit:hover{
    transform: scale(1.2);
}
#invalidCheck{
    cursor: pointer;
}